html, body
{
    background-color: #F5F5F5;

    font-family: 'Lato', sans-serif;
    color: #555;

    margin: 0;
    padding: 0;
    height: 100%;
}

p
{
    margin-top: 5px;
}

h1,h2,h3
{
    padding-left: 10px;
    margin-bottom: 0px;

    font-family: 'Catamaran', sans-serif;
    color: #333;
}

h1
{
    font-size: 32px;
}

h2
{
    font-size: 28px;
}

h3
{
    font-size: 24px;
}

a, a:visited, a:hover
{
    color: #2F9E85;
    text-decoration: none;
}

a:hover
{
    color: #2AB797;
}

table, th, td
{
    border: 1px solid #FFF;
    border-collapse: collapse;
    
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
}

table
{
    margin: 0pt auto;
}

th
{
    background-color: rgb(52, 43, 33);
        
    font-family: 'Catamaran', sans-serif;
    color: #F5F5F5;
}

tr:nth-child(even)
{
    background-color: #F5F5F5;
    border-color: #F5F5F5;
}

code
{
    font-size: 11pt;
    color: #000;
}

ol
{
    list-style-type: none;
}

.important_text
{
    font-family: 'Catamaran', sans-serif;
    font-weight: 500;
}

.important_text a
{ 
    color: #F5F5F5; 
}

#container 
{
   min-height: 100%;
   position: relative;
}

#header 
{
   background-image: url("../images/logo_back.png");
   background-color: transparent;

   height: 128px;
}

#body 
{
    margin-top: 75px;

    padding: 10px;
    padding-bottom: 203px;
}

#footer 
{
   position:absolute;
   bottom: 0;

   width: 100%;
   height: 128px;

   background-color: rgb(58, 69, 62);
   background-image: url("../images/logo_back.png");

}

#footer_text
{
    color: #F5F5F5;
    font-size: 15px;

    line-height: 1.8;

    margin-top: 40px;
    margin-left: 10%;
}


#navbar
{
    min-width: 100px;

    margin-top: 11px;
    margin-left: 10%;
    margin-right: 20px;

    position: inline;
    float: left;

    font-size: 22px;
    font-weight: bold;

    color: #F5F5F5;
}

.nav_sidebar
{
    background-image: url("../images/logo_back_tall.png");
    
    margin-bottom: 20px;
    min-width: 100px;

    padding-left: 10px;
    padding-right: 10px;
}

#content
{
    background-color: #FFF;

    width: 50%;
    min-height: 300px;

    padding: 10px;
    padding-top: 1px;

    border-bottom: 1px solid rgb(58, 69, 62);

    overflow: hidden;
}

.nav_item
{
    position: inline;
    line-height: 220%;
    padding: 0px;
    margin-top: -10px;
    margin-bottom: 0px;
    margin-left: 2px;
}

#page_title
{
    background-image: url("../images/logo_back.png");
    padding: 3px;
    color: #F5F5F5;
    font-size: 30px;
    padding-left: 10px;
    margin-left: -10px;
    margin-bottom: 20px;
    width: 200%;
}

#header_logo
{
    background-image: url("../images/logo.png");
    position: absolute;
    
    width: 486px;
    height: 74px;

    top: 57px;
    left: 20px;
}
